body {
    background-color: #FFD700;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #FF5733; 
}

.dishes-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 32px;
}

.dishes-list {
    background-color: #55D6BE; 
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

.dishes-list h2 {
    color: #FF5733; 
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    color: #333; /
}